<!DOCTYPE html>
<html>
<head>
    <title>Отчет</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css"/>
</head>
<body>
    <div class="page-header">
        <h1 style="margin-left:2em">Отчет</h1>
    </div>

    <div class="container-fluid">
        <div class="row">
            <form class="navbar-form navbar-left">
                <div class="form-group">
                    <div class="input-group">
                        <span id="sizing-addon1" class="input-group-addon" style="background-color: #fff">Организация</span>
                        <select name="orgs" class="selectpicker btn-block" data-width="100px" data-live-search="true" aria-describedby="sizing-addon1" data-none-selected-text="Пусто">
                        </select>
                    </div>
                    <div class="input-group" style="margin-left:1em">
                        <span id="sizing-addon2" class="input-group-addon" style="background-color: #fff">Объект</span>
                        <select name="stores" class="selectpicker" data-live-search="true" aria-describedby="sizing-addon2" data-none-selected-text="Пусто">
                        </select>
                    </div>
                    <div class="input-group" style="margin-left:1em">
                        <span id="sizing-addon3" class="input-group-addon" style="background-color: #fff">Дата</span>
                        <input name="date" type="date" class="form-control" aria-describedby="sizing-addon3">
                    </div>
                    <div class="btn-group" role="group" style="margin-left:1em">
                        <button name="reportBtn" type="button" class="btn btn-default">Сформировать
                        </button>
                        <button name="exportBtn" type="button" class="btn btn-default">Выгрузить</button>
                    </div>
                </div>
            </form>
        </div>
        <div name="alert" class="row">
        </div>
        <div class="row">
            <div class="col-md-8" style="margin-top:2em;">
                <table name="reportTable" class="table table-striped table-condensed table-bordered">
                </table>
            </div>
        </div>
    </div>
<script id="option-template" type="text/template">
    <option value="<%- id %>"><%- name %></option>
</script>
<script id="report-template" type="text/template">
    <thead>
        <tr>
            <th>Операция</th>
            <% for (var i = data.range.lower; i <= data.range.upper; i++) { %>
            <th><%- i %>:00</th>
            <% } %>
        </tr>
    </thead>
    <tbody>
        <% for (var i = 0; i < data.payload.length; i++) { %>
            <tr>
                <td><%- data.payload[i].operation.descr %></td>
                <%
                var results = data.payload[i].results;
                for (var j = data.range.lower; j <= data.range.upper; j++) {
                %>
                <td><%- results[j] %></td>
                <% } %>
            </tr>
        <% } %>
    </tbody>
</script>
<script id="alert-template" type="text/template">
    <div class="alert alert-dismissible <%- data.class %>" role="alert" style="display:inline-block; margin-left: 1em;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <%- data.text %>
    </div>
</script>
<script id="wait-spinner-template" type="text/template">
    <span class="glyphicon glyphicon-refresh spinning"></span>
</script>

<script src="https://code.jquery.com/jquery-2.2.3.js" integrity="sha256-laXWtGydpwqJ8JA+X9x2miwmaiKhn8tVmOVEigRNtP4=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://underscorejs.org/underscore.js"></script>
<script src="./script.js"></script>
</body>
</html>